<h1>New User</h1>
<div class='name'>Character:</div> 
<select id="character">
¡@<option value="Gingerbread Man">Gingerbread Man</option>
¡@<option value="Easter Bunny">Easter Bunny</option>
¡@<option value="Jack O'Lantern">Jack O'Lantern</option>
¡@<option value="Giant Panda">Giant Panda</option>
</select><br />
<div class='name'>Profession:</div>
<select id="profession">
¡@<option value="Gingerbread Kid" >Gingerbread Kid</option>
¡@<option value="Gingerbread Rebel" >Gingerbread Rebel</option>
¡@<option value="Sylvan Bunny">Sylvan Bunny</option>
¡@<option value="Farmer Bunny">Farmer Bunny</option>
¡@<option value="Crazy Jack" >Crazy Jack</option>
¡@<option value="Hallow Jack" >Hallow Jack</option>
</select><br />
<div class='name'>Weapon:</div> <input type="text" id="weapon"/><br />
<div class='name'>Novice Ability:</div> <input type="text" id="novice"/><br />
<div class='name'>Expert Ability:</div> <input type="text" id="expert"/><br />
<div class='name'>Master Ability:</div> <input type="text" id="master"/><br />
<button class="btn-post">Create</button>
