<html>
	<head>
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
		<script src="js/ejs_production.js"></script>
	</head>
	<body>
	<img src="http://icons.iconarchive.com/icons/icons8/windows-8/128/Data-View-Details-icon.png">
		<div id="usernew">
			<%- include('form'); %>
		</div>
		<div id="userinfo">
			<%- include('persons'); %>
		</div>
		<div id="userupdate"></div>
		<script src="js/script.js"></script>
	</body>
</html>
